<main>
    <div class="row" style="min-height: 100vh;">
        <div class="col-lg-2"></div>
        <div class="box col-lg-8">
            <h1 class="text-center">Witamy na
                <?php echo @$title ?>
            </h1>
            <h2 class="text-center" style="height: 100%;
                                           display: flex;
                                           align-items: center;
                                           justify-content: center;">
                Link jest nieprawidłowy lub wygasł, przykro nam :(
            </h2>
            </form>
        </div>
    </div>
</main>